    .app {
        display: flex;
        flex-direction: column;
        min-height: 100svh;
        position: relative;

        .content {
            width: 80%;
            padding: 20px;
            background-color:azure;

            margin-inline: auto;
            max-width: 1024px;
            height: 100%;
            flex: 1;
            -webkit-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 5px 10px 12px rgba(34, 60, 80, 0.2);


            button {
                margin: 0 0 5px 5px;;
            }

        }
    }

    .header {
        min-height: 100px;
        width: 100%;
        background: rgb(17, 95, 161);
        background: linear-gradient(90deg, rgba(17, 95, 161, 1) 0%, rgba(81, 81, 193, 1) 44%, rgba(94, 185, 204, 1) 100%);
        color: white;
        margin-inline: auto;
        display: flex;
        align-items: center;

        a {
            color: white;
        }

        .header_content {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-inline: auto;
            max-width: 1024px;

            .header_content_login {
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-width: 160px;
            }
        }
    }

    .footer {
        display: flex;
        margin-top: auto;
        min-height: 80px;
        width: 100%;
        background: rgb(17, 95, 161);
        background: linear-gradient(90deg, rgba(17, 95, 161, 1) 0%, rgba(81, 81, 193, 1) 44%, rgba(94, 185, 204, 1) 100%);
        color: white;

        .footer_content {
            width: 80%;
            margin-inline: auto;
            max-width: 1024px;
        }
    }

    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
    }