.h_1 {
    font-size: 40px;
    font-weight: 600;
}
.h_2 {
    font-size: 36px;
    font-weight: 600;
}
.h_3 {
    font-size: 32px;
    font-weight: 600;
}
.h_4 {
    font-size: 28px;
    font-weight: 600;
}
.h_5 {
    font-size: 24px;
    font-weight: 600;
}
.h_6 {
    font-size: 20px;
    font-weight: 600;
}

.header {
    display: flex;
    justify-content: space-between;
}